<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Card Advance -->
    <div class="row match-height">
      <div class="col-lg-12 col-12">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">Statistics</h4>
            <div class="d-flex align-items-center">
              <p class="card-text mr-25 mb-0">Updated 1 month ago</p>
            </div>
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-md-2 col-sm-6 col-12 mb-2 mb-md-0">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="tool" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.sales }}</h4>
                    <p class="card-text font-small-3 mb-0">Fault Cases</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-12 mb-2 mb-md-0">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.customers }}</h4>
                    <p class="card-text font-small-3 mb-0">Customers</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-12 mb-2 mb-sm-0">
                <div class="media">
                  <div class="avatar bg-light-success mr-2">
                    <div class="avatar-content">
                      <i data-feather="smartphone" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.products }}</h4>
                    <p class="card-text font-small-3 mb-0">Devices</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-12">
                <div class="media">
                  <div class="avatar bg-light-success mr-2">
                    <div class="avatar-content">
                      <i data-feather="shield" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.products }}</h4>
                    <p class="card-text font-small-3 mb-0">Contract</p>
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-sm-6 col-12">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="shield-off" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.products }}</h4>
                    <p class="card-text font-small-3 mb-0">Not in Contract</p>
                    <!-- <h2 class="font-weight-bolder">{{ data.reviews.analyticsData.revenue }}</h2>
                    <p class="mb-0 line-ellipsis">Reviews</p> -->
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-sm-6 col-12">
                <div class="media">
                  <div class="avatar bg-light-success mr-2">
                    <div class="avatar-content">
                      <i data-feather="truck" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">{{ data.statistics.analyticsData.products }}</h4>
                    <p class="card-text font-small-3 mb-0">Delivered</p>
                    <!-- <h2 class="font-weight-bolder">{{ data.reviews.analyticsData.revenue }}</h2>
                                  <p class="mb-0 line-ellipsis">Reviews</p> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row match-height">
      <!-- Revenue Card -->

      <!--/ Revenue Card -->

    </div>



  </div>
</div>