<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-general" data-toggle="pill"
                href="#account-vertical-general" aria-expanded="true">
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">General</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- header media -->
                    <div class="media">
                      <a href="javascript:void(0);" class="mr-25">
                        <img *ngIf="avatarImage!=null" [src]="avatarImage" class="rounded mr-50" alt="profile image"
                          height="76" width="80" />
                      </a>

                      <a href="javascript:void(0);" class="mr-25">
                        <img *ngIf="avatarImage==null" src="assets/images/logo/logo.svg" class="rounded mr-50"
                          alt="profile image" height="76" width="80" />
                      </a>

                      <!-- *ngIf="profilePic==null"><img class="round" src="assets/images/logo/logo.svg" alt="avatar" height="40" width="40" /> -->

                      <!-- upload and reset button -->
                      <div class="media-body mt-75 ml-1">
                        <button (click)="file.click()" for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75"
                          rippleEffect>
                          Upload
                        </button>
                        <input type="file" #file id="account-upload" hidden accept="image/*"
                          (change)="uploadImage($event)" />
                        <!-- <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button> -->
                        <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                      </div>
                      <!--/ upload and reset button -->
                    </div>
                    <!--/ header media -->

                    <!-- form -->
                    <form class="validate-form mt-2">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-username">Username</label>
                            <input type="text" [(ngModel)]="currentUser.username" class="form-control"
                              id="account-username" name="username" placeholder="Username" [disabled]="true" />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-name">Name</label>
                            <input type="text" [(ngModel)]="currentUser.fullName" class="form-control" id="account-name"
                              name="name" placeholder="Name" />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">E-mail</label>
                            <input type="email" [(ngModel)]="currentUser.email" class="form-control" id="account-e-mail"
                              name="email" placeholder="Email" [disabled]="true" />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-company">Company</label>
                            <input type="text" value="MENA GALAXY COMPUTERS LLC" class="form-control"
                              id="account-company" name="company" placeholder="Company name" disabled />
                          </div>
                        </div>
                        <!-- <div class="col-12 mt-75">
                          <div class="alert alert-warning mb-50" role="alert">
                            <h4 class="alert-heading">Your email is not confirmed. Please check your inbox.</h4>
                            <div class="alert-body">
                              <a href="javascript: void(0);" class="alert-link">Resend confirmation</a>
                            </div>
                          </div>
                        </div> -->
                        <div class="col-12">
                          <button (click)="updateUserProfile()" class="btn btn-primary mr-1 mt-1" rippleEffect>Save
                            changes</button>
                          <!-- <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect>Cancel</button> -->
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-password" data-toggle="pill"
                href="#account-vertical-password" aria-expanded="false">
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- form -->
                    <form class="validate-form">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password">Old Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeOld ? 'text' : 'password'" class="form-control"
                                id="account-old-password" name="password" placeholder="Old Password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }" (click)="togglePasswordTextTypeOld()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password">New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeNew ? 'text' : 'password'" id="account-new-password"
                                name="new-password" class="form-control" placeholder="New Password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }" (click)="togglePasswordTextTypeNew()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password">Retype New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeRetype ? 'text' : 'password'" class="form-control"
                                id="account-retype-new-password" name="confirm-new-password"
                                placeholder="New Password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }" (click)="togglePasswordTextTypeRetype()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button (click)="updateUserProfile()" class="btn btn-primary mr-1 mt-1" rippleEffect>Save
                            changes</button>
                          <!-- <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button> -->
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>



            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-notifications" data-toggle="pill"
                href="#account-vertical-notifications" aria-expanded="false">
                <i data-feather="bell" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Notifications</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <h6 class="section-label mx-1 mb-2">Activity</h6>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.commentOnArticle" id="accountSwitch1" />
                          <label class="custom-control-label" for="accountSwitch1">
                            Email me when someone do any changes to repair cases
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.AnswerOnForm" id="accountSwitch2" />
                          <label class="custom-control-label" for="accountSwitch2">
                            Email me when I do any changes to repair cases
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.followMe" id="accountSwitch3" />
                          <label class="custom-control-label" for="accountSwitch3">Email me when someone generate
                            delivery note</label>
                        </div>
                      </div>
                      <h6 class="section-label mx-1 mt-2">Application</h6>
                      <div class="col-12 mt-1 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.newAnnouncements" id="accountSwitch4" />
                          <label class="custom-control-label" for="accountSwitch4">Daily Updates</label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.productUpdates" id="accountSwitch6" />
                          <label class="custom-control-label" for="accountSwitch6">Weekly updates</label>
                        </div>
                      </div>
                      <div class="col-12 mb-75">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"
                            [checked]="data.accountSetting.notification.blogDigest" id="accountSwitch5" />
                          <label class="custom-control-label" for="accountSwitch5">Monthly updates</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-2 mr-1" rippleEffect>Save changes</button>
                        <!-- <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect>Cancel</button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>

            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="account-pill-notifications" data-toggle="pill"
                href="#account-vertical-notifications" aria-expanded="false">
                <i data-feather="tool" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Configurations</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- form -->
                    <form class="validate-form">
                      <div class="row">
                        <div class="col-12 col-sm-12">
                          <div class="form-group">
                            <label for="zebra-fw-uid">Zebra Framework UID</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input type="text" class="form-control" id="zebra-fw-uid" name="zebra-fw-uid"
                                placeholder="f-ORwbkOzgxJoD8-NarJXg" [disabled]="!isAdmin" />
                              <!-- <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                    'icon-eye-off': passwordTextTypeOld,
                                                    'icon-eye': !passwordTextTypeOld
                                                  }" (click)="togglePasswordTextTypeOld()"></i></span>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-12">
                          <div class="form-group">
                            <label for="zebra-case-record-url">Zebra Case Record URL</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input type="text" class="form-control" id="zebra-case-record-url"
                                name="zebra-case-record-url"
                                placeholder="https://supportcommunity.zebra.com/s/sfsites/aura?r=6&other.CCOM_RMALookup.getCaseRecord=1" />

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 col-sm-12">
                          <div class="form-group">
                            <label for="zebra-rmalookup-url">Zebra RMA Details URL</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input type="text" class="form-control" id="zebra-rmalookup-url"
                                name="zebra-rmalookup-url"
                                placeholder="https://supportcommunity.zebra.com/s/sfsites/aura?r=8&other.CCOM_RMALookup.getRMADetails=1" />
                              <!-- <div class="input-group-append">
                                                                            <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                                                                'icon-eye-off': passwordTextTypeOld,
                                                                                                'icon-eye': !passwordTextTypeOld
                                                                                              }" (click)="togglePasswordTextTypeOld()"></i></span>
                                                                          </div> -->
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 col-sm-12">
                          <div class="form-group">
                            <label for="zebra-contract-url">Zebra Contract Details URL</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input type="text" class="form-control" id="zebra-contract-url" name="zebra-contract-url"
                                placeholder="https://supportcommunity.zebra.com/s/sfsites/aura?r=8&other.RMAR2_Aura_CaseExtract_CCOM.serialCalloutEVM=1" />
                              <!-- <div class="input-group-append">
                                                                                                  <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                                                                                      'icon-eye-off': passwordTextTypeOld,
                                                                                                                      'icon-eye': !passwordTextTypeOld
                                                                                                                    }" (click)="togglePasswordTextTypeOld()"></i></span>
                                                                                                </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>

          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>